services:
  nginx:
    image: nginx:alpine
    container_name: frontend_nginx
    restart: always
    ports:
      - "127.0.0.1:3000:80"
    volumes:
      - ./build:/usr/share/nginx/html:ro
      - ./nginx/nginx-simple.conf:/etc/nginx/conf.d/default.conf:ro
