services:
  db:
    image: postgres:15
    container_name: gestion_postgres
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: brasil_backend
    restart: always
    env_file:
      - .env
    volumes:
      - ./static:/app/static
      - ./media:/app/media
    expose:
      - 8000
    depends_on:
      db:
        condition: service_healthy

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile.nginx
    container_name: gestion_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./static:/var/www/gestionBrasil/static:ro
      - ./media:/var/www/gestionBrasil/media:ro
      - certbot_conf:/etc/letsencrypt:ro
      - certbot_www:/var/www/certbot:ro
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    depends_on:
      - backend

  certbot:
    image: certbot/certbot
    container_name: gestion_certbot
    volumes:
      - certbot_conf:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  postgres_data:
  certbot_conf:
  certbot_www:
